<footer class="bg-gray-800 text-gray-200 py-6 mt-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="flex flex-col md:flex-row mb-4 md:mb-0">
                <a href="/bucket" class="mb-4 md:mb-0 md:mr-6 text-gray-200 hover:text-white transition duration-300 text-lg sm:text-xl">Bucket list</a>
                <a href="/bucket/new" class="mb-4 md:mb-0 md:mr-6 text-gray-200 hover:text-white transition duration-300 text-lg sm:text-xl">Add bucket</a>
                <a href="/about" class="text-gray-200 hover:text-white transition duration-300 text-lg sm:text-xl">About</a>
            </div>
            <div class="text-sm sm:text-base text-center md:text-left">
                &copy; 2024 Bucket list. All rights reserved.
            </div>
        </div>
    </div>
</footer>