<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">
        {% include 'partials/header.html.twig' %}
        <div class="container mx-auto px-4 flex-grow">
            {% block body %}{% endblock %}
        </div>
        {% include 'partials/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>